
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.DS_Store

# datasets
data/
# but don't ignore e-XLI/data/
!e-xnli/data/

# models
*.pt

# Created by IDEs
venv/
.idea/

# Other big stuff
limitedink/bash/cuda-repo-wsl-ubuntu-12-1-local_12.1.0-1_amd64.deb*

# Misc
limitedink/bash/what_is_my_device.txt
The_CheckList_process.ipynb
